<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gysoft.dao.DeptDao">

    <select id="findById" resultType="Dept" parameterType="Long">
   select deptno,dname,db_source from dept where deptno=#{deptno};
  </select>
    <select id="findAll" resultType="Dept">
   select deptno,dname,db_source from dept;
  </select>
    <insert id="addDept" parameterType="Dept">
   INSERT INTO dept(dname,db_source) VALUES(#{dname},DATABASE());
  </insert>

    <select id="getDeptNameAndEmployeeNameList" resultType="DepNameEmpNameInfo">
     SELECT d.`dname`,em.`last_name` FROM dept AS d LEFT JOIN dept_employee AS de  ON d.`deptno`=de.`deptId`
      LEFT JOIN tbl_employee AS em ON em.`id`=de.`empId`
    </select>

</mapper>


